html {
  overflow-y: hidden;
}

#app {
  height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.has-font-roboto {
  font-family: Roboto;
}

.content-quote {
  font-family: Roboto;
  font-style: italic;
  font-size: 1em;
}

.content-quote h1 {
  color: rgb(75, 75, 75) !important;
}

.content-quote h1::before {
  content: '“ ';
}

.content-quote h1::after {
  content: ' ”';
}

.full-height {
  height: 100vh;
}

.side {
  height: 50vh;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.quote-container {
  height: 50vh;
  width: 70vh;
  position: absolute;
  top: 50%;
  border-radius: 8px;
  transform: translate(0%, -50%);
  text-align: center
}

.square {
  position: relative;
  overflow: hidden;
  padding-bottom: 75%;
  background: #2c2c2c;
}

.square-banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  background: white;
}

.square img,
.square-banner img {
  position: absolute;
  width: 100%;
  height: 100% !important;
}

.square img {
  object-fit: cover;
}

.square-banner img {
  object-fit: contain;
}

.border-rounded {
  border-radius: 8px;
}

.has-background-blue-dark {
  background: #1e2639;
}

.has-padding-x-100 {
  padding: 0px 100px;
}

.has-padding-top-50 {
  padding-top: 50px;
}

.has-margin-top-50 {
  margin-top: 50px;
}

.has-padding-left-125 {
  padding-left: 125px;
}

.has-padding-top-10 {
  padding-top: 10px;
}

.title.custom {
  font-size: 36px;
  color: #000000;
  line-height: 1.3;
}

.has-border-top-5-green {
  border-top: 5px solid #3BF301;
}

.has-border-bottom-2-black {
  border-bottom: 2px solid black;
}

.description,
.time {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.is-horizontal-center {
  justify-content: center;
}

@media screen and (min-width: 1380px) and (max-width: 1600px) {
  .title.custom {
    font-size: 3em;
  }
  .quote-container {
    width: 60vh;
  }
  .description,
  .time {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1601px) {
  .title.custom {
    font-size: 3.75em;
  }
  .quote-container {
    width: 50vh;
  }
  .description,
  .time {
    font-size: 2em;
  }
}


/* clock */

.digit {
  position: relative;
  padding: 10px;
  float: left;
  width: 15%;
  height: 90px;
  background-color: #02172c;
  border-radius: .5vw;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.divider-1 {
  position: absolute;
  left: 17%;
  top: 5%;
}

.divider-2 {
  position: absolute;
  left: 38%;
  top: 5%;
}

.hour::after,
.min::after {
  content: ":";
  position: absolute;
  left: 103%;
  top: 18%;
  font-weight: bold;
  color: rgb(145, 145, 145);
}

.base {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.flap {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #02172c;
  left: 0;
  top: 0;
  border-radius: .5vw .5vw 0 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flap::before {
  content: attr(data-content);
  position: absolute;
  left: 50%;
}

.flap.front::before,
.flap.under::before {
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flap.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flap.back::before {
  top: 100%;
  -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
  transform: translate(-50%, -50%) rotateZ(180deg);
}

.flap.over {
  z-index: 2;
}

.flap.under {
  z-index: 1;
}

.flap.front {
  -webkit-animation: flip-down-front 300ms ease-in both;
  animation: flip-down-front 300ms ease-in both;
}

.flap.back {
  -webkit-animation: flip-down-back 300ms ease-in both;
  animation: flip-down-back 300ms ease-in both;
}

.flap.under {
  -webkit-animation: fade-under 300ms ease-in both;
  animation: fade-under 300ms ease-in both;
}

@-webkit-keyframes flip-down-front {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
}

@keyframes flip-down-front {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
}

@-webkit-keyframes flip-down-back {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
    transform: rotateY(180deg) rotateX(0deg);
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
}

@keyframes flip-down-back {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
    transform: rotateY(180deg) rotateX(0deg);
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes fade-under {
  0% {
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
  100% {
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
}

@keyframes fade-under {
  0% {
    background-color: #00080f;
    color: rgb(240, 240, 240);
  }
  100% {
    background-color: #02172c;
    color: rgb(255, 255, 255);
  }
}

.clock {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-perspective: 100vw;
  perspective: 100vw;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.clock .digit {
  margin-right: 1%;
}

.clock .digit:nth-child(2n+2) {
  margin-right: 3%;
}

.clock .digit:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1380px) and (max-width: 1600px) {
  .digit {
    padding: 10px;
    width: 15%;
    height: 90px;
    border-radius: .2vw;
    font-weight: bold;
    font-family: Oswald, sans-serif;
  }
  .hour::after,
  .min::after {
    left: 98%;
    top: 10%;
  }
}

@media screen and (min-width: 1601px) {
  .digit {
    position: relative;
    width: 15%;
    height: 110px;
    background-color: #02172c;
    border-radius: .5vw;
    text-align: center;
    font-family: Oswald, sans-serif;
  }
  .hour::after,
  .min::after {
    left: 99%;
    top: 7%;
  }
}
