html {
  overflow-y: hidden;
}

#app {
  height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.full-height {
  height: 100vh;
}

.side {
  height: 50vh;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.square {
  position: relative;
  overflow: hidden;
  padding-bottom: 75%;
  background: #2c2c2c;
}

.square-banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  background: white;
}

.square img,
.square-banner img {
  position: absolute;
  width: 100%;
  height: 100% !important;
}

.square img {
  object-fit: cover;
}

.square-banner img {
  object-fit: contain;
}

.border-rounded {
  border-radius: 8px;
}

.has-background-blue-dark {
  background: #1e2639;
}

.has-padding-x-100 {
  padding: 0px 100px;
}

.has-padding-top-50 {
  padding-top: 50px;
}

.has-margin-top-50 {
  margin-top: 50px;
}

.has-padding-left-125 {
  padding-left: 125px;
}

.has-padding-top-10 {
  padding-top: 10px;
}

.title.custom {
  font-size: 36px;
  color: #000000;
  line-height: 1.3;
}

.has-border-top-5-green {
  border-top: 5px solid #3BF301;
}

.has-border-bottom-2-black {
  border-bottom: 2px solid black;
}

.description,
.time {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.is-horizontal-center {
  justify-content: center;
}